.header {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  & > .generate-button {
    position: absolute;
    top: 10px;
    z-index: 999;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    // background: radial-gradient(circle, #2e3847 19%, #6f7f98 100%);
    // box-shadow: 2px 2px 10px #2e3847;
    background: rgba(187, 187, 187, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    color: #dcc1a7;

    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
